<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <%= include_gon %>


</head>
<body>
  <div id="main-container">

    <div id="chat-text"></div>

    <form name="input-form" action="">
        <input name="usermsg" type="text" id="input-text" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
    </form>
</div>


<script src="js/main.js"></script>
<script src="js/faye/faye.js"></script>
<script src="js/socket.js"></script>
<script src="js/application.js"></script>


</body>
</html>
