* {
  box-sizing: border-box;
  /*border: 1px dotted pink;*/
}

h1 {
  text-align: center;
}

#chat-text {
  background-color: white;
  min-height: 2rem;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
}

.switched-on {
  background-color: yellow;
  color: blue;
}

.switched-off {
  background-color: blue;
  color: yellow;
}
